.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-container {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.chat-container > input {
    width: 60%;
}