.dashboard-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    position: relative;
    min-height: 100vh;
}

.dashboard-cards-container {
    padding: 5vh 4vw;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5vh 0;
}

.dashboard-add-project-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 500rem;
    background-color: #7793ed;
    color: white;
    position: absolute;
    right: 3vh;
    top: 2vw;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.2vw;
    z-index: 1000;
}

.dashboard-inner-container {
    position: relative;
    height: auto;
}