.profile-pic-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profile-pic-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #7793ED;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    color: white;
    font-weight: 800;
    text-transform: capitalize;
    border: solid .2vw white;
    transition: all ease-in-out 300ms;
}

.large {
    width: 15rem;
    height: 15rem;
    font-size: 60pt;
}